:root{
  --header-bgcolor:#fff;
  --body-bgcolor:#fafafa;
  --text-color:#111517;
  --placeholder:#848484;
  --main-font-family: "Nunito Sans", "Arial", sans-serif;
  --card-border-radius:5px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src:
  url("../fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"),
  url("../fonts/nunito-sans-v12-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src:
  url("../fonts/nunito-sans-v12-latin-600.woff2") format("woff2"),
  url("../fonts/nunito-sans-v12-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src:
  url("../fonts/nunito-sans-v12-latin-800.woff2") format("woff2"),
  url("../fonts/nunito-sans-v12-latin-800.woff") format("woff");
}
*{
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Nunito Sans", "Arial", sans-serif;
}


*{
  box-sizing: border-box;
}

.theme-dark{
  --header-bgcolor:#2B3844;
  --text-color:#fff;
  --body-bgcolor:#202C36;
  --placeholder:#fff;
}

.theme-dark .intro{
  background-color: #202C36;
}

body{
  margin: 0;
  padding: 0;
  font-family:var(--main-font-family);
  background-color: var(--body-bgcolor);
  color: var(--text-color);
  transition: background-color 0.5s ease , color 0.5s ease;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header{
  background-color: var(--header-bgcolor);
  color: var(--text-color);
  transition: background-color 0.5s ease , color 0.5s ease;
  box-shadow: 0px 2px 4px #0000000e;
}

.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;

}

.site-logo{
  color: var(--text-color);
}

.site-header-theme-button{
  padding: 0;
  padding-left: 28px;
  font-family:  var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
  background-color: transparent;
  background-image: url("../images/moon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  border: none;
}

.theme-dark .site-header-theme-button{
  background-image: url("../images/moon-light.svg");
}

.intro{
  padding: 48px 0;
}

.js-form{
  position: relative;
}

.js-input{
  width: 100%;
  max-width: 480px;
  padding: 18px 0;
  padding-left: 74px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--header-bgcolor);
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border: none;
  border-radius: 5px;
}

.js-input::placeholder{
  color: var(--placeholder);
}

.js-input::before{
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  z-index: 1;
  background-image: url("/images/search-icon.svg");
  content: "";
  /* background-image: url("../images/search-white.svg"); */
}

.js-select{
  width: 200px;
  margin: 0;
  padding: 18px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--header-bgcolor);
  color: var(--text-color);
  background-image: url("../images/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position:calc(50% + 70px) calc(50%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  appearance: none;
}

.theme-dark .js-select{
  background-image: url("../images/arrow-white.svg");
}

.option{
  appearance: none;
}

.intro-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro-list-items{
  width: 264px;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;
  background-color: var(--header-bgcolor);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  text-decoration: none;
}

.intro-link{
  text-decoration: none;
}

.item-img{
  width: 100%;
  max-width: 264px;
  height: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #000;
}

.top{
  margin-bottom: 75px;
}

.item-info{
  padding-left: 24px;
}

.item-title{
  margin: 0;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color);
}

.item-text{
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}

.middle-text{
  margin: 8px 0;
}

.country-info{
  display: block;
  position: relative;
  padding: 0;
  color: blue;
  background-color: transparent;
  text-decoration: underline;
  border:none;
}

.country-info::after{
  position: absolute;
  width: 24px;
  height: 24px;
  top: -2px;
  display: inline-block;
  content: "";
  background-image: url("/images/language.svg");
}

.modal-dialog{
  width: 100%!important;
  max-width: 1000px!important;
}

.theme-dark .modal-box{
  color: #000;
}

.img-box{
  width: 100%;
  max-width: 350px;
}

.modal-img{
  width: 100%;
  height: 200px;
}

@media only screen and (max-width:768px)  {
  .labels{
    align-items:flex-start;
    flex-direction: column;
  }

  .input{
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .input{
    background-position: 10% calc(50%);
  }


}

@media only screen and (max-width:576px)  {

  .site-logo-img{
    width: 135px;
  }
  .site-header-theme-button{
    font-size: 12px;
    line-height: 16px;
  }

  .intro-list-items{
    margin: 0 auto;
  }

  .intro-list-items:not(:last-child){
    margin-bottom: 40px;
  }

  .colonkas{
    margin-bottom: 40px;
  }
}
